In [1]:
from env import get_db_url
import numpy as np
import pandas as pd
import os
import acquire
import prepare
import wrangle
import matplotlib.pyplot as plt
from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import explore
import pydataset
from math import sqrt

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

from sklearn.feature_selection import SelectKBest, f_regression

from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

In [5]:
zillow_predictions = acquire.get_zillow_predictions()
zillow_predictions

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,4.0,3.5,3100.0,1023282.0,1998.0,11013.72,6059.0
1,2.0,1.0,1465.0,464000.0,1967.0,5672.48,6111.0
2,3.0,2.0,1243.0,564778.0,1962.0,6488.30,6059.0
3,4.0,3.0,2376.0,145143.0,1970.0,1777.51,6037.0
4,4.0,3.0,2962.0,773303.0,1950.0,9516.26,6037.0
...,...,...,...,...,...,...,...
52437,2.0,2.0,1286.0,354621.0,1940.0,4478.43,6037.0
52438,4.0,2.0,1612.0,67205.0,1964.0,1107.48,6111.0
52439,3.0,1.0,1032.0,49546.0,1954.0,876.43,6037.0
52440,3.0,2.0,1762.0,522000.0,1955.0,6317.15,6037.0
52441,3.0,2.0,1050.0,259334.0,1960.0,3345.78,6037.0